<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- <a class="btn btn-success" href="/jobs/apply">Apply</a> -->
    <hr>
   
    <div class ="row">
      <% jobsList.forEach(function(jobs,i) { %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= jobs.jobtitles %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= jobs.vacancyno %></h6>
            <p class="card-text"><%= jobs.jobdes%></p>
            <p class="card-text"><%= jobs.salary%></p>
            <p class="card-text"><%= jobs.deadline%></p>
            <p class="card-text"><%= jobs.location%></p>
            <p class="card-text"><%= jobs.jobcat%></p>
            <a href="/jobs/apply/<%= i %> " class="card-link">Apply</a> -->
            <!-- <a href=" " class="card-link">Delete</a> --> -->

          </div>
        </div>
      <%})%>
    </div>



  </body>
</html>
